<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="partials/head :: head (title='Countertop | Recipe')">
    <div th:replace="partials/links :: links"></div>
</head>
<body>
<nav th:replace="partials/navbar :: navbar"></nav>

<br>

<div class="section section-padding single-post-1">
    <div class="container">

        <div class="row">
            <div class="col-lg-8">

                <!-- Content Start -->
                <article class="post-single">
                    <div class="post-thumbnail" style="">
                        <img th:src="${recipe.getImage()}" class="img-fluid" alt="Responsive image" style="border-radius: 25px;object-fit: cover; height: 500px; width: 1000px;">
                        <!--                            <img src="https://via.placeholder.com/1280x700" alt="post">-->
                    </div>
                    <br>
                    <h2 class="play" th:text="${recipe.getTitle()}"></h2>
                    <h6 class="sans">- Recipe Provided by Spoonacular</h6>
<!--                    <div sec:authorize="isAuthenticated()">-->
<!--                        <form th:action="@{/recipes/favorite}" method="post">-->
<!--                            <input type="hidden" th:value="${recipe.getId()}" name="recipeID">-->
<!--                            <button class="btn btn-primary">-->
<!--                                <i class="fas fa-star btn btn-primary" th:if="${favorited}">Favorited</i>-->
<!--                                <i class="far fa-star btn btn-primary" th:if="${not favorited}">Favorite</i>-->
<!--                            </button>-->
<!--                        </form>-->
<!--                    </div>-->
                    <p class="sans" th:utext="${recipe.getDescription()}"></p>
                    <div class="post-content">
                        <div class="recipe-ingredients">
                            <h4 class="play">Ingredients</h4>
                            <ul>
                                <li  th:each="ingredient : ${recipe.getIngredientList()}">
                                    <h6  th:text="${ingredient.getName()}" class="sans"></h6>
                                </li>
                            </ul>
                        </div>
                        <div class="recipe-instructions">
                            <h4 class="play">Instructions</h4>
                            <div class="row sans">
                                <div class="col-8 sans" th:utext="${recipe.getInstructions()}"></div>
                            </div>
                        </div>
                        <div th:replace="partials/comments :: comments"></div>

                    </div>
                </article>
            </div>
            <div class="col-lg-4">
                <br>
                <h2 class="play">Featured Recipes</h2>
                <br>
                <div class="container" style="">
                    <img th:src="${featured.getUrl()}" class="img-fluid" alt="Responsive image" style="border-radius: 25px;object-fit: cover; height: 200px; width: 500px;">
                    <div class="caption">
                        <a th:href="@{/recipes/{id}(id=${recipe.getId()})}" class="party centered"></a>
                    </div>
                </div>
                <br>
                <br>
                <div class="container" style="">
                    <img th:src="${featured2.getUrl()}" class="img-fluid" alt="Responsive image" style="border-radius: 25px;object-fit: cover; height: 200px; width: 500px;">
                    <div class="caption ">
                        <a th:href="@{/recipes/{id}(id=${recipe.getId()})}" class="party centered"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="partials/scripts :: scripts"></div>
</body>
</html>