<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: head (title='Register')">
    <div th:replace="partials/links :: links"></div>
</head>
<body>
    <nav th:replace="partials/navbar :: navbar"></nav>

    <h1 class="py-5 mx-auto text-center">Join us on the Counter top!</h1>

    <form th:action="@{/recipes/create}" method="post" class="shadow w-50 p-3 mx-auto" th:object="${recipe}" style="background-color: white">
        <div class="form-group">
            <label for="name">Recipe Title</label>
            <input type="text" class="form-control" id="name" th:field="*{name}">
        </div>
        <div class="form-group">
            <label for="description">Recipe Description</label>
            <input type="text" th:field="*{description}" id="description" class="form-control">
        </div>
        <div class="form-group">
            <label for="instructions">Recipe Instructions (Not Implemented Yet)</label>
            <textarea id="instructions" class="form-control"></textarea>
        </div>
        <div class="form-group">
            <label for="url">Add an Image </label>
            <input type="text" th:field="*{url}" id="url" class="form-control">
        </div>
        <div class="form-group">
            <input type="BUTTON" value="Pick Watermark" id="pickWatermark" onclick="pickMark()">
            <script>
                var client = filestack.init("AFTklBXEQve8miEwbGlAwz");
                //The function pickMark()
                function pickMark() {
                    console.log("Picking Watermark");
                    //Opening the file picker here
                    const options = {
                        onUploadDone: function (data){
                            let file = data.filesUploaded[0];
                            let input = document.getElementById("url");
                            input.value = file;
                        },
                        accept: "image/*",
                        uploadInBackground: false
                    };
                    client.picker(options).open();
                }
            </script>
        </div>
        <div class="form-group">
            <label for="skill">Difficulty</label>
            <select class="form-control" id="skill" th:field="*{skillLevel}">
                <option value="easy">Easy</option>
                <option value="medium">Medium</option>
                <option value="hard">Hard</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary mx-auto">Submit</button>
    </form>

    <div th:replace="partials/scripts :: scripts"></div>
</body>
</html>