<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: head (title='All Recipes')">
    <div th:replace="partials/links :: links"></div>
</head>
<body>
    <nav th:replace="partials/navbar :: navbar"></nav>

    <br>
    <h1 class="text-center">RECIPES INDEX</h1>
    <br>
    <h3 class="text-center">Search for a recipe!</h3>
    <form class="w-50 mx-auto" action="/recipes/search" method="get" >
        <div class="form-group" >
            <input style="background-color: white;" type="text" class="form-control" id="main_search" placeholder="recipe here :)" name="searchTerm">
        </div>
    </form>

    <div id="api-results" class="container">

    </div>

    <div class="container">
        <div class="mx-auto w-75 d-flex justify-content-around row row-cols-3">
            <div class="col-4" th:each="recipe : ${recipes}">
                <div class="card my-3" >
                    <div class="card-body">
                        <h5 class="card-title" th:text="${recipe.getName()}">TITLE</h5>
                        <p class="card-text" th:text="${recipe.getDescription()}">Description</p>
                        <a th:href="@{/recipes/{id}(id=${recipe.getId()})}" class="btn btn-primary">View Recipe</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script th:src="@{/js/keys.js}"></script>
    <script th:src="@{/js/index.js}"></script>
    <div th:replace="partials/scripts :: scripts"></div>
</body>
</html>