<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="partials/head :: head (title='Recipe')">
    <div th:replace="partials/links :: links"></div>
</head>
<body>
    <nav th:replace="partials/navbar :: navbar"></nav>

    <br>
    <div class="container">
        <div class="row">
            <div class="col-4">
                <h1 th:text="${recipe.getName()}">RECIPE TITLE</h1>
            </div>
            <div class="col-4">
                <h6>- Created by user <span th:text="${recipe.getUser().getUsername()}"></span></h6>
            </div>
        </div>
        <div class="row">
            <img th:src="${recipe.getUrl()}" class="img-fluid" alt="Responsive image" style="height: 500px; width: 500px; border: 1px solid black;">
        </div>
        <div class="row mt-2">
            <div class="col-8" th:text="${recipe.getDescription()}">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut blanditiis commodi distinctio dolore eius, iure minus quos ut? Accusamus aliquam aperiam deleniti dignissimos dolorum error, explicabo illo laboriosam sed totam?
            </div>
            <div class="col-4">
                <ul class="list-group">
                    <li class="list-group-item" th:each="ingredient : ${recipe.getRecipesIngredients()}"><span th:text="${ingredient.getName()}">INGREDIENT</span></li>
                </ul>
            </div>
        </div>

<!--<<<<<<< HEAD-->
<!--        <h4>Comments</h4>-->

<!--        &lt;!&ndash;    <div class="form-group" th:se>&ndash;&gt;-->
<!--        &lt;!&ndash;        <label for="exampleFormControlTextarea1">Leave a comment!</label>&ndash;&gt;-->
<!--        &lt;!&ndash;        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>&ndash;&gt;-->
<!--        &lt;!&ndash;    </div>&ndash;&gt;-->

<!--        <div th:replace="partials/comments :: comments"></div>-->
        <!--        <div th:each="item : ${comments}">-->
        <!--            <p th:text="${item.getCommentBody()}">COMMENT HERE</p>-->
        <!--            <p>- <span th:text="${item.getUser().getUsername()}"></span></p>-->
        <!--        </div>-->
<!--=======-->


    <div sec:authorize="isAuthenticated()">
        <form th:action="@{/recipes/favorite}" method="post">
            <input type="hidden" th:value="${recipe.getId()}" name="recipeID">
            <button>
                <i class="far fa-star" th:if="${favorited}"></i>
                <i class="fas fa-star" th:if="${not favorited}"></i>
            </button>
        </form>
    </div>

    <h4>Comments</h4>

    <div th:replace="partials/comments :: comments"></div>
         <div th:each="item : ${comments}">
             <p th:text="${item.getCommentBody()}">COMMENT HERE</p>
             <p>- <span th:text="${item.getUser().getUsername()}"></span></p>
         </div>

    </div>

    <div th:replace="partials/scripts :: scripts"></div>
</body>
</html>