<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: head (title='Countertop')">

    <div th:replace="partials/links :: links"></div>
</head>
<body>
<nav th:replace="partials/navbar :: navbar"></nav>
<!--th:object="${session.user}"-->
<style>
    .userDetails {
        min-height: 40px;
        display: inline-flex;
        align-items: center;
    }
</style>

<div class="container-fluid mx-4" style="background-color: rgba(255, 255, 255, 0.5);">
    <h4 class="my-3 text-center" id="theChef">The Chef</h4>
    <!-- PROFILE INFORMATION -->

    <div class="border col d-flex">

        <!-- PROFILE PHOTO -->
        <div class="my-2">
            <div class="bg-dark border my-2" style="min-height: 300px; min-width: 300px; position: relative;">
                <img class="border rounded-circle d-inline-flex" style="height: 250px; width: 250px; position: absolute; top: calc(50% - 125px); right: calc(50% - 125px);"  th:src="@{${#authentication.getPrincipal().getUrl()}}" alt="Profile Photo" />
            </div>
            <div class="text-right">
                <button class="btn btn-primary" data-toggle="modal" type="submit" value="Edit" style="width: 75px;" data-target="#profilePhotoModal">Edit</button>
            </div>
        </div>

        <!-- USERNAME & EMAIL -->
        <div class="col border d-flex ml-3 my-auto py-2">
            <div class="col">

                <div class="my-4 w-100" id="profileUsernameGrp">
                    <div>
                        <span class="align-middle"> Username </span>
                    </div>
                    <div class="d-flex">
                        <div class="border w-100" style="background-color: white;">
                            <span class="ml-1 userDetails" th:text="${#authentication.getPrincipal().getUsername()}"> SuperChef </span>
                        </div>
                        <div class="ml-1">
                            <button class="btn btn-primary" data-toggle="modal" data-target="#usernameModal" value="Edit" style="width: 75px; height: 40px;">Edit</button>
                        </div>

                    </div>
                </div>


                <div class="my-4 w-100" id="profileEmailGrp">
                    <div>
                        <span class="align-middle"> Email </span>
                    </div>
                    <div class="d-flex justify-content-between">
                        <div class="border w-100" style="background-color: white;">
                            <span class="ml-1 userDetails" th:text="${#authentication.getPrincipal().getEmail()}"> SuperChef@thesuperchef.com </span>
                        </div>
                        <div class="ml-1">
                            <button class="btn btn-primary" data-toggle="modal" data-target="#emailModal" type="submit" value="Edit" style="width: 75px; height: 40px;">Edit</button>
                        </div>
                    </div>
                </div>

            </div>

            <!-- SIGN UP DATE & DOB -->
            <div class="col">

                <div class="my-4 w-100" id="profileSignUpGrp">
                    <div>
                        <span class="align-middle"> Sign Up Date </span>
                    </div>
                    <div class="d-flex justify-content-between">
                        <div class="border w-100" style="background-color: white;">
                            <span class="ml-1 userDetails" th:text="${#authentication.getPrincipal().getSignupDate()}">10/28/2000</span>
                        </div>
                        <div class="ml-1"><div style="width: 75px; height: 40px;"></div>
                        </div>
                    </div>

                    <div class="my-4 w-100" id="profileDOBGrp">
                        <div>
                            <span class="align-middle"> Birthday </span>
                        </div>
                        <div class="d-flex justify-content-between">
                            <div class="border w-100" style="background-color: white;">
                                <span class="ml-1 userDetails" th:text="${#authentication.getPrincipal().getDob()}"> 11/12/2020 </span>
                            </div>
                            <div class="ml-1">
                                <button class="btn btn-primary" type="submit" data-toggle="modal" data-target="#DOBModal" value="Edit" style="width: 75px; height: 40px;">Edit</button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!--SPACER / MODAL CONTENTS-->
    <div class="w-100" style="height: 100px;">

        <div class="modal" tabindex="-1" role="dialog" id="profilePhotoModal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <form action="/">
                            <label for="profilePhoto">Profile Photo</label><br />
                            <input type="text" id="profilePhoto" th:value="${#authentication.getPrincipal().getUsername()}" />
                            <button class="btn btn-primary" type="submit"> Save </button>
                        </form>

                        <div class="my-2" id="profilePhotoGroup">
                            <div class="bg-dark border my-2" id="profileImg" style="min-height: 300px; min-width: 300px; position: relative;">
                                <img class="border rounded-circle d-inline-flex" style="height: 250px; width: 250px; position: absolute; top: calc(50% - 125px); right: calc(50% - 125px);"
                                     alt="Profile Photo" />
                            </div>
                            <div class="text-right">
                                <button class="btn btn-primary" type="submit" value="Edit" style="width: 75px;">Edit</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="modal my-auto" tabindex="-1" role="dialog" id="usernameModal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="align-content-start modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form action="#" method="post">
                            <input type="text" id="username" th:text="${#authentication.getPrincipal().getUsername()}"/><br />
                            <small id="usernameHelp" class="form-text text-muted">Choose your username. Must be between 0-100 characters, numbers and letters only.</small>
                            <button class="btn btn-primary" type="submit"> Save </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal" tabindex="-1" role="dialog" id="emailModal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <form action="/">
                            <label for="email">Email</label><br />
                            <input type="text" id="email" />
                            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small><br />
                            <button class="btn btn-primary" type="submit"> Save </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal" tabindex="-1" role="dialog" id="DOBModal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <form action="/">
                            <label for="dob">Birthday</label><br />
                            <input type="text" id="dob" th:attr="value=${#authentication.getPrincipal().getDob()}" />
                            <small id="dobHelp" class="form-text text-muted">We'll never share your information with anyone else.</small>
                            <button class="btn btn-primary" type="submit"> Save </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div th:replace="partials/scripts :: scripts"></div>
<!--<div th:replace="/partials/footer :: footer"></div>-->



</body>
</html>