<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/partials/head :: head (title='${user} Profile')"></head>
<body>
<nav th:replace="/partials/navbar :: navbar"></nav>

<div class="container-fluid" th:object="${session.user}">
    <!-- PROFILE INFORMATION -->
    <div class="col d-flex">
        <div class="col" id="profileImg">
            <img src="..." alt="Profile Photo" />
        </div>
        <div class="col d-flex">
            <div class="col d-flex">
                <div id="profileUsername">Username <span th:text="*{username}">Username</span></div>
                <div id="profileEmail">Email <span th:text="*{email}"></span></div>
            </div>
            <div class="col d-flex">
                <div id="profileSignUp">Sign Up Date <span th:text="*{signupDate}"></span></div>
                <div id="profileDOB"><span th:text="*{dob}">DOB</span></div>
            </div>
        </div>
    </div>

    <!-- RECIPE INFORMATION -->
    <div class="col d-flex">Recipes
        <!-- Row 1 -->
        <div class="col d-flex">

            <div class="col d-flex">
                <div class="col d-flex">
                    <div><img src="..." alt="Foto de comida deliciosa" />Recipe Photo</div>
                    <div th:text="${recipe.name}"></div>
                </div>
                <div class="col">
                    <button>edit</button>
                    <button>delete</button>
                </div>
            </div>

            <div class="col d-flex">
                <div class="col d-flex">
                    <div><img src="..." alt="Foto de comida deliciosa" />Recipe Photo</div>
                    <div th:text="${recipe.name}"></div>
                </div>
                <div class="col">
                    <button>edit</button>
                    <button>delete</button>
                </div>
            </div>

            <div class="col d-flex">
                <div class="col d-flex">
                    <div><img src="..." alt="Foto de comida deliciosa" />Recipe Photo</div>
                    <div th:text="${recipe.name}"></div>
                </div>
                <div class="col">
                    <button>edit</button>
                    <button>delete</button>
                </div>
            </div>

        </div>

        <!-- Row 2 -->
        <div class="col d-flex">

            <div class="col d-flex">
                <div class="col d-flex">
                    <div><img src="..." alt="Foto de comida deliciosa" />Recipe Photo</div>
                    <div th:text="${recipe.name}"></div>
                </div>
                <div class="col">
                    <button>edit</button>
                    <button>delete</button>
                </div>
            </div>

            <div class="col d-flex">
                <div class="col d-flex">
                    <div><img src="..." alt="Foto de comida deliciosa" />Recipe Photo</div>
                    <div th:text="${recipe.name}"></div>
                </div>
                <div class="col">
                    <button>edit</button>
                    <button>delete</button>
                </div>
            </div>

            <div class="col d-flex">
                <div class="col d-flex">
                    <div><img src="..." alt="Foto de comida deliciosa" />Recipe Photo</div>
                    <div th:text="${recipe.name}"></div>
                </div>
                <div class="col">
                    <button>edit</button>
                    <button>delete</button>
                </div>
            </div>

        </div>

        <!-- Row 3 -->
        <div class="col d-flex">

            <div class="col d-flex">
                <div class="col d-flex">
                    <div><img src="..." alt="Foto de comida deliciosa" />Recipe Photo</div>
                    <div th:text="${recipe.name}"></div>
                </div>
                <div class="col">
                    <button>edit</button>
                    <button>delete</button>
                </div>
            </div>

            <div class="col d-flex">
                <div class="col d-flex">
                    <div><img src="..." alt="Foto de comida deliciosa" />Recipe Photo</div>
                    <div th:text="${recipe.name}"></div>
                </div>
                <div class="col">
                    <button>edit</button>
                    <button>delete</button>
                </div>
            </div>

            <div class="col d-flex">
                <div class="col d-flex">
                    <div><img src="..." alt="Foto de comida deliciosa" />Recipe Photo</div>
                    <div th:text="${recipe.name}"></div>
                </div>
                <div class="col">
                    <button>edit</button>
                    <button>delete</button>
                </div>
            </div>

        </div>

    </div>



</div>




<div th:replace="/partials/footer :: footer"></div>
<div th:replace="/partials/scripts :: scripts"></div>
</body>
</html>