<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="partials/head :: head (title='Countertop | Recipe')">
    <div th:replace="partials/links :: links"></div>
</head>
<body class="aboutUsBg">
<nav th:replace="partials/navbar :: navbar"></nav>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<br>

<div class="container d-flex">
    <div class="mx-auto  d-flex justify-content-around">
        <div class="col-lg-3" style="width: 18rem;">
            <img src="../images/sK87RI8n.jpg" class="card-img-top rounded-circle" alt="Card img cap" style="height: 170px; width: 170px;">
            <h3 class="play" style="padding-right: 10px;">Charles Brant-Stec</h3>
            <div class="card-body d-flex flex-column">
<!--                <h5 class="card-title" th:text="${recipe.name}"></h5>-->
<!--                <p class="card-text " th:text="${recipe.description}"></p>-->
<!--                <a th:href="@{/recipes/{id}(id=${recipe.getId()})}" class="btn btn-primary mt-auto" >Checkout this recipe!</a>-->
            </div>
        </div>
        <div class="col-lg-3" style="width: 18rem;">
            <img src="../images/AustinDeringAllen.jpg" class="card-img-top rounded-circle" alt="Card 150pxap" style="height: 170px; width: 170px;">
            <h3 class="play">Austin Dering-Allen</h3>
            <div class="card-body d-flex flex-column">
<!--                <h5 class="card-title" th:text="${recipe2.name}"></h5>-->
<!--                <p class="card-text" th:text="${recipe2.description}"></p>-->
<!--                <a th:href="@{/recipes/{id}(id=${recipe.getId()})}" class="btn btn-primary mt-auto">Checkout this recipe!</a>-->
            </div>
        </div>
        <div class="col-lg-3" style="width: 18rem;">
            <img src="../images/DavidBess.jpg" class="card-img-top rounded-circle" alt="Card img cap" style="height: 170px; width: 170px;">
            <h3 class="play">David Bess</h3>
            <div class="card-body d-flex flex-column">
<!--                <h5 class="card-title" th:text="${recipe3.name}"></h5>-->
<!--                <p class="card-text" th:text="${recipe3.description}"></p>-->
<!--                <a th:href="@{/recipes/{id}(id=${recipe.getId()})}" class="btn btn-primary mt-auto ">Checkout this recipe!</a>-->
            </div>
        </div>
        <div class="col-lg-3" style="width: 18rem;">
            <img src="../images/TimBoudreaux.jpg" class="card-img-top rounded-circle" alt="Card img cap" style="height: 170px; width: 170px;">
            <h3 class="play">Tim Boudreaux</h3>
            <!--            <div class="card-body d-flex flex-column">-->
<!--&lt;!&ndash;                <h5 class="card-title" th:text="${recipe.name}"></h5>&ndash;&gt;-->
<!--&lt;!&ndash;                <p class="card-text " th:text="${recipe.description}"></p>&ndash;&gt;-->
<!--&lt;!&ndash;                <a th:href="@{/recipes/{id}(id=${recipe.getId()})}" class="btn btn-primary mt-auto" >Checkout this recipe!</a>&ndash;&gt;-->
<!--            </div>-->
        </div>
    </div>
</div>



<div th:replace="partials/scripts :: scripts"></div>
</body>
</html>